//! **************************************************************************
// Written by: Map P.68d on Sat Sep 07 00:57:47 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Time_Value[0]" LOCATE = SITE "H14" LEVEL 1;
COMP "Time_Value[1]" LOCATE = SITE "H13" LEVEL 1;
COMP "Time_Value[2]" LOCATE = SITE "J14" LEVEL 1;
COMP "Time_Value[3]" LOCATE = SITE "J13" LEVEL 1;
COMP "DisplayS[0]" LOCATE = SITE "D14" LEVEL 1;
COMP "DisplayS[1]" LOCATE = SITE "G14" LEVEL 1;
COMP "DisplayS[2]" LOCATE = SITE "F14" LEVEL 1;
COMP "DisplayS[3]" LOCATE = SITE "E13" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "SalidasDisplayS[0]" LOCATE = SITE "E14" LEVEL 1;
COMP "SalidasDisplayS[1]" LOCATE = SITE "G13" LEVEL 1;
COMP "SalidasDisplayS[2]" LOCATE = SITE "N15" LEVEL 1;
COMP "SalidasDisplayS[3]" LOCATE = SITE "P15" LEVEL 1;
COMP "SalidasDisplayS[4]" LOCATE = SITE "R16" LEVEL 1;
COMP "SalidasDisplayS[5]" LOCATE = SITE "F13" LEVEL 1;
COMP "SalidasDisplayS[6]" LOCATE = SITE "N16" LEVEL 1;
COMP "Reset" LOCATE = SITE "M14" LEVEL 1;
COMP "Walk_Request[0]" LOCATE = SITE "L14" LEVEL 1;
COMP "Walk_Request[1]" LOCATE = SITE "L13" LEVEL 1;
COMP "punto" LOCATE = SITE "P16" LEVEL 1;
COMP "Sensor" LOCATE = SITE "G12" LEVEL 1;
COMP "luces[0]" LOCATE = SITE "P14" LEVEL 1;
COMP "luces[1]" LOCATE = SITE "L12" LEVEL 1;
COMP "luces[2]" LOCATE = SITE "N14" LEVEL 1;
COMP "luces[3]" LOCATE = SITE "P13" LEVEL 1;
COMP "luces[4]" LOCATE = SITE "N12" LEVEL 1;
COMP "luces[5]" LOCATE = SITE "P12" LEVEL 1;
COMP "luces[6]" LOCATE = SITE "P11" LEVEL 1;
COMP "Reprogram" LOCATE = SITE "M13" LEVEL 1;
COMP "Time_Parameter_Selector[0]" LOCATE = SITE "K14" LEVEL 1;
COMP "Time_Parameter_Selector[1]" LOCATE = SITE "K13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

